.dropdown {
  position: relative;
  user-select: none;
  background-color: #6495ed;
  min-width: 200px;
}

.dropdown .dropdown-header {
  background-color: #6495ed;
  padding: 5px 10px;
  width: 100%;
  border: solid rgb(50, 42, 165) 1px;
  text-align: center;
  cursor: pointer;
}

.dropdown .dropdown-list {
  width: 100%;
  position: absolute;
  opacity: 0;
  display: none;
  background-color: #463eb6;
  border: solid black 2px;
  transition: 1000ms ease;
}

.dropdown .dropdown-list.active {
  display: block;
  opacity: 1;
}

.dropdown ul {
  list-style: none;

  padding: 0;
  margin: 0;
}

.dropdown .dropdown-list-item {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #7da9fc;
  border: solid #463eb6 1px;

  /* Virtualiztion */
  width: 100%;
  position: absolute;
}

.dropdown .dropdown-list-item:hover {
  background-color: #6a96e7;
}

.dropdown .dropdown-list-item.selected {
  background-color: #4d7cd3;
}
