.dropdown-container {
}

.dropdown-container .dropdown-header {
  width: 100%;
  padding: 6px 8px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  border: 0.5px solid black;
  word-break: break-all;
}

.dropdown-list {
  position: absolute;
  display: none;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  margin: 5px 0 0 0;
  width: 100%;
  border: 0.5px solid black;
  border-radius: 5px;
  background: white;
}
.dropdown-list.extended {
  display: block;
}

.dropdown-list .list-items {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 5px 8px;
  cursor: pointer;
  word-break: break-all;
}

.list-items:nth-child(even) {
  background-color: #fff2f2;
}

.list-items:nth-child(odd) {
  background-color: #ffffff;
}

.dropdown-list .list-items:hover {
  background: #fafafa;
}

.dropdown-list .list-items.selected {
  background: #f3f3f3;
}
